{% extends 'base.html.twig' %}

{% block title %}Article | JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .bg-faded {
            background-color: rgba(0,0,0,0.9);
        }
		.fh5co-nav {
    		position: relative!important;
			background-color: black!important;
		}
		.fh5co-nav .top-menu {
			padding: 10px 0!important;
		}
		.fh5co-nav-toggle {
			top: 10px!important;
		}
		.card {
			background-color: #f8f9fa !important;
			border: 1px solid rgba(0, 0, 0, 0.125);
			border-radius: 0.25rem;
		}
		.card-body {
			flex: 1 1 auto;
			padding: 20px 20px;
		}
		.d-flex {
			display: flex !important;
		}
		.flex-shrink-0 {
			flex-shrink: 0 !important;
		}
		.rounded-circle {
			border-radius: 50% !important;
		}
		.ms-3 {
			margin-left: 1rem !important;
		}
		.fw-bold {
			font-weight: 700 !important;
		}
    </style>
{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<!-- Post content-->
			<article>
				<!-- Post header-->
				<header style="margin-bottom: 10px; margin-top: 100px">
					<!-- Post title-->
					<h2 class="fw-bolder mb-1">{{ article.titre }}</h2>
					<!-- Post meta content-->
					<div class="text-muted fst-italic mb-2" style="margin-bottom: 20px">Publier le {{ article.createdAt | date('m/d/Y') }} par JVGO</div>
				</header>
				<!-- Preview image figure-->
				<figure class="mb-4"><img class="img-fluid rounded" src="/article/{{ article.imageName }}" alt="{{ article.titre }}" style="width: 100%"/></figure>
				<!-- Post content-->
				<section class="mb-5">
					<p class="fs-5 mb-4">{{ article.description | raw }}</p>
					
				</section>
			</article>
		</div>
	</div>
</div>
		
{% endblock %}
