{% extends 'base.html.twig' %}

{% block title %}Blog | JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .chevron-down {
            animation: updown 2s ease infinite;
        }

        @keyframes updown {
            0% {
                transform: translateY(-50%);
            }

            50% {
                transform: translateY(50%);
            }

            100% {
                transform: translateY(-50%);
            }
        }
    </style>
{% endblock %}

{% block body %}

<!-- START HOME -->
<section class="welcome-area">
    <div class="welcome-slider-area">
        <div id="welcome-slide-carousel" class="carousel slide">
            <div class="single-slide-item" style="background-image: url(/assets/img/61206588_m.jpg); background-position: center; background-size: cover;">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <h2>BLOG</h2>
                                    <a href="#blog"><i class="fa fa-chevron-down chevron-down" style="color: white;"></i></a>								
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>	      
        </div>
    </div>
</section>
<!-- END  HOME DESIGN -->	


<!-- START BLOG -->		
<section id="blog" class="fresh-news section-padding">
    <div class="container">
        <div class="section-title text-center wow zoomIn">
			<h2>Actualités</h2>		
        </div>				
        <div class="row">	
            {% for article in articles %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_blog">
                        <div class="blog_img">
                            <a href="{{path('article', {id : article.id, slug : article.slug})}}"><img src="/article/{{article.imageName}}" class="img-fluid" alt="image"/></a>
                        </div>
                        <div class="blog_content">
                            <span class="blog_cat">
                                <a href="javascript:void(0);">JVGO</a>
                            </span>
                            <h3><a href="{{path('article', {id : article.id, slug : article.slug})}}">{{article.titre}}</a></h3>								
                            <div class="blog-meta">
                                <span class="blog-author">
                                    <a href="{{path('article', {id : article.id, slug : article.slug})}}">{{article.description | striptags | slice(0, 25) |raw }}...</a>
                                </span> <br>
                                <span class="blog-date">{{article.createdAt | date('d/m/Y')}}</span>								
                            </div>
                            <a href="{{path('article', {id : article.id, slug : article.slug})}}" class="blog_btn"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div><!-- END COL-->	
            {% endfor %}
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->	
</section>
<!-- END BLOG -->
		
{% endblock %}
